<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839349778883-8u7hk4nupoh7g2hdau4u6i83370k4oqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839349778883-8u7hk4nupoh7g2hdau4u6i83370k4oqs</string>
	<key>API_KEY</key>
	<string>AIzaSyCW1KBTi5nuNCpJjZG48gQThaSaeK6h6gg</string>
	<key>GCM_SENDER_ID</key>
	<string>839349778883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakejulian.RoomScanAlpha</string>
	<key>PROJECT_ID</key>
	<string>roomscanalpha</string>
	<key>STORAGE_BUCKET</key>
	<string>roomscanalpha.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839349778883:ios:786f675fab0d0c1652a576</string>
</dict>
</plist>
