<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>AppIcon</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>GIDClientID</key>
	<string>839349778883-8u7hk4nupoh7g2hdau4u6i83370k4oqs.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.839349778883-8u7hk4nupoh7g2hdau4u6i83370k4oqs</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
